In [1]:
import pandas as pd
# You may use any external libraries you need

In [2]:
real_url = 'https://raw.githubusercontent.com/yee-kevin/code-test/main/dataset/real.csv'
real_data = pd.read_csv(real_url)
display(real_data)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,708082083,Existing Customer,45,F,3,High School,Married,Less than $40K,Blue,36,...,3,3,3544.0,1661,1883.0,0.831,15149,111,0.734,0.469
1,708083283,Attrited Customer,58,M,0,Unknown,Single,$40K - $60K,Blue,45,...,1,3,3421.0,2517,904.0,0.992,992,21,0.400,0.736
2,708084558,Attrited Customer,46,M,3,Doctorate,Divorced,$80K - $120K,Blue,38,...,3,3,8258.0,1771,6487.0,0.000,1447,23,0.000,0.214
3,708085458,Existing Customer,34,F,2,Uneducated,Single,Less than $40K,Blue,24,...,2,2,1438.3,0,1438.3,0.827,3940,82,0.952,0.000
4,708086958,Existing Customer,49,F,2,Uneducated,Married,Unknown,Blue,41,...,5,2,3128.0,749,2379.0,0.598,4369,59,0.735,0.239
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,823908858,Existing Customer,51,M,4,Unknown,Married,$80K - $120K,Blue,47,...,3,2,3861.0,622,3239.0,0.794,4816,81,0.976,0.161
9996,823912308,Existing Customer,38,F,3,Graduate,Married,Less than $40K,Blue,34,...,1,0,3402.0,1813,1589.0,0.653,1767,28,0.647,0.533
9997,823922208,Existing Customer,49,M,3,Unknown,Single,$60K - $80K,Blue,45,...,1,1,2122.0,1101,1021.0,0.711,7404,103,0.515,0.519
9998,823928058,Existing Customer,52,F,2,Uneducated,Married,Less than $40K,Blue,48,...,2,4,5299.0,578,4721.0,0.931,4509,79,0.717,0.109
9999,823948308,Existing Customer,48,M,4,Post-Graduate,Unknown,$40K - $60K,Blue,44,...,2,4,6710.0,1942,4768.0,0.777,1727,37,0.850,0.289

In [3]:
synthetic_url = 'https://raw.githubusercontent.com/yee-kevin/code-test/main/dataset/synthetic.csv'
synthetic_data = pd.read_csv(synthetic_url)
display(synthetic_data)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,717932822,Attrited Customer,50,F,4,Graduate,Single,Less than $40K,Blue,39,...,4,2,2014.4,0,5115.8,0.824731,2636,46,0.625760,0.000000
1,742650110,Existing Customer,36,F,0,High School,Married,$60K - $80K,Blue,28,...,1,1,2364.9,1498,3974.5,0.676488,4330,70,0.746368,0.114854
2,811598237,Attrited Customer,50,F,1,Graduate,Married,$80K - $120K,Blue,34,...,1,4,2705.1,0,6155.5,1.587737,1309,34,0.456513,0.363509
3,709941841,Attrited Customer,54,F,2,Unknown,Married,Less than $40K,Silver,28,...,3,2,7552.2,1635,24601.7,0.737814,7554,43,0.680966,0.058362
4,709607042,Attrited Customer,50,M,2,College,Married,$80K - $120K,Blue,53,...,3,4,25482.4,4,16540.8,0.815202,1328,28,0.541455,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,757885713,Existing Customer,53,F,5,Uneducated,Divorced,$40K - $60K,Blue,45,...,2,3,4074.0,1531,557.5,0.740015,5043,66,0.850179,0.687945
9996,720091587,Attrited Customer,38,F,1,Uneducated,Married,Less than $40K,Blue,24,...,3,4,12866.6,0,23789.5,0.614844,1845,37,0.471074,0.000000
9997,719956855,Existing Customer,41,M,4,College,Divorced,$80K - $120K,Blue,31,...,3,3,6221.1,1188,5957.4,0.727068,4279,100,0.685492,0.489656
9998,720938451,Existing Customer,52,F,2,Unknown,Unknown,Unknown,Blue,30,...,2,3,4914.4,1513,878.9,0.589500,1490,42,0.640494,0.838979
9999,814626536,Existing Customer,51,M,1,Graduate,Married,$80K - $120K,Blue,39,...,1,3,6072.3,1354,19162.6,0.826853,4052,75,0.826083,0.277571

In [4]:
# Your task:
# Design and code 1-2 NEW success metrics in Python. Use the 1-2 NEW success metrics you have designed to compare the real vs fake data.
# Provide a simple explanation of what this success metric does as #comments. 

# Your code here (edit as neccesary):
def metric_1(real_data, synthetic_data):
  return None

def metric_2(real_data, synthetic_data):
  return None

In [9]:
# Bonus:
# Host the new metric functions above as an API and call it in this notebook
from synmetric.metric import CSTestMetric, KSTestMetric
from synmetric.metric import RFCMetric

ModuleNotFoundError: No module named 'synmetric'

In [6]:
metric = KSTestMetric()

NameError: name 'KSTestMetric' is not defined

In [7]:
metric.compute(real_data, synthetic_data)

0.9999999999841975

In [8]:
import numpy as np
np.set_printoptions(threshold=np.inf)
    
metric = RFCMetric()
metric.compute(real_data, synthetic_data)

0.28500000000000003

In [9]:
from sdmetrics.single_table import CSTest, KSTest

In [11]:
KSTest.compute(real_data, synthetic_data)

0.8992266666666668

In [15]:
from sdmetrics.single_table import LogisticDetection, SVCDetection

SVCDetection.compute(real_data, synthetic_data)

0.1397726272068992

In [36]:
list(real_data.dtypes.values)

[dtype('int64'),
 dtype('O'),
 dtype('int64'),
 dtype('O'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64')]

In [18]:
real_data.columns

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio'],
      dtype='object')

In [10]:
pip freeze

anyio==3.3.3
appnope==0.1.2
argon2-cffi==21.1.0
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
bleach==4.1.0
certifi==2021.10.8
cffi==1.14.6
charset-normalizer==2.0.6
copulas==0.5.1
cycler==0.10.0
debugpy==1.5.0
decorator==5.1.0
defusedxml==0.7.1
entrypoints==0.3
idna==3.2
ipykernel==6.4.1
ipython==7.28.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.0.2
joblib==1.1.0
json5==0.9.6
jsonschema==4.1.0
jupyter-client==7.0.6
jupyter-core==4.8.1
jupyter-server==1.11.1
jupyterlab==3.1.18
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
kiwisolver==1.3.2
llvmlite==0.37.0
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mistune==0.8.4
nbclassic==0.3.2
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.4
numba==0.54.1
numpy==1.20.3
packaging==21.0
pandas==1.1.4
pandocfilters==1.5.0
parso==0.8.2
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
prometheus-client==0.11.0
prompt-toolkit==3.0.20
psutil==5.8.0
ptyprocess==0.7.0
pycparser==2.20
Pygments==2.10.0
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2021.3
pyzmq==22.3.0
rdt==0.5.3
requests==2.26.0
requests-unixsocket==0.2.0
scikit-learn==0.24.2
scipy==1.7.1
sdmetrics==0.3.2
Send2Trash==1.8.0
six==1.16.0
sktime==0.4.0
sniffio==1.2.0
statsmodels==0.13.0
synmetric @ file:///Users/harsh/Desktop/open_source/synthetic_metric
terminado==0.12.1
testpath==0.5.0
threadpoolctl==3.0.0
torch==1.9.1
tornado==6.1
traitlets==5.1.0
typing-extensions==3.10.0.2
urllib3==1.26.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
Note: you may need to restart the kernel to use updated packages.